ipykernel 
transformers
--extra-index-url https://download.pytorch.org/whl/cpu
numpy
matplotlib
scikit-learn
langchain-google-genai
pypdf
fastapi
pydantic
uvicorn
qdrant-client
pymupdf
python-dotenv
sentence-transformers
# "fastapi[standard]"
